[Bb]in/
[Ll]ib/
!packages/**
!src/packages/
[Oo]bj/
TestResults/
_ReSharper.*/
PrecompiledWeb/
_Secure/
tmp/
T4RenderCache/
node_modules
ui/public
BuiltFiles_*.txt

*.suo
*.user
*.swp
*.vspscc
*.vssscc
*.bak
*.[Cc]ache

Thumbs.db
.DS_Store
.sass-cache/
~$*

/src/Package_ALPHA
/src/UpgradeLog*
/src/debug
/src/_UpgradeReport_Files

*.sublime-project
*.sublime-workspace
