<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<controlSources>
			<source mode="on" namespace="DEG.SC.HoursOfOperation.Web.Controls"
                        assembly="DEG.SC.HoursOfOperation.Web" prefix="DEG"/>

			<source mode="on" namespace="DEG.SC.HoursOfOperation.Web.XmlControls"
                        assembly="DEG.SC.HoursOfOperation.Web" folder="/sitecore modules/DEG" />
		</controlSources>
	</sitecore>
</configuration>
